---
import { SITE_TITLE } from '../consts';

interface Props {
  hideTitle?: boolean;
}

const { hideTitle = false } = Astro.props;
---

<header>
  <nav>
    {!hideTitle && <h2><a href="/">{SITE_TITLE}</a></h2>}
    {hideTitle && <div></div>}
    <div class="icon-links">
      <a href="/about" title="About">
        <span class="sr-only">About</span>
        <iconify-icon icon="mdi:clipboard-user" width="24" height="24"></iconify-icon>
      </a>
      <a href="/search" title="Search">
        <span class="sr-only">Search</span>
        <iconify-icon icon="mdi:magnify" width="24" height="24"></iconify-icon>
      </a>
    </div>
  </nav>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }
  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1.5em 0.5em;
    color: rgb(var(--gray-dark));
    text-decoration: none;
  }
  nav a:hover {
    color: var(--accent);
  }
  .icon-links {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .icon-links a {
    display: flex;
    align-items: center;
    padding: 0.5em;
  }
</style>
